{% extends 'layout.html' %}

{% block content %}
	<div class="row d-flex justify-content-center align-items-center content-auth" style="height: 100vh">
		<div class="col-sm-4 col-md-6 p-3 bg-white formLogin">
			<h2 class="text-center">Login</h2>
			<h6 class="text-center">facilitoStore</h6>
			<form method="POST">
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" name="username" class="form-control" placeholder="username">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control" placeholder="password">
				</div>
				{% csrf_token %}
				<div class="form-group d-flex flex-column justify-content-center align-items-center">
					<button type="submit" class="btn btn-success btn-block">Login</button>
					<small>¿No tienes cuenta? <a href="/auth/signup">Registrate</a></small>
				</div>
			</form>
		</div>
	</div>
{% endblock %}