{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block container %}
    <div class="col-md-12 col-md-offset-1">
        <div class="row d-flex  justify-content-center align-items-center" style="height: 90vh;">
            <div class="col-6">
                <h2>Login</h2>
                <form method="post">
                    <div class="form-group">
                        {{render_field(form.username, class="form-control", placeholder="Username")}}
                    </div>
                    <div class="form-group">
                        {{ render_field(form.password, class="form-control", placeholder="Password")}}
                    </div>
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                    <button type="submit" class="btn btn-primary" name="button">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}